* {
  box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
h1, h2, h3, footer {
font-family: 'Roboto', sans-serif;
font-weight: 300;
}
h2 {

}
h1 {
font-size: 60px;
margin-top: 7px;
font-weight: 100;
margin-bottom: 0;
color: white;
}
body {
background-color: white;
/*afeeee #6be2be 3edcac ff9521  #ffcd3e*/
margin: 0 auto;
background-image: url("images/bag5.svg");
background-repeat: no-repeat;
background-position: top;
}
img {
max-height: 100%;
max-width: 100%;
}

/* NEW NEW NEW */




#container {
  margin: 0 auto;
  max-width: 1310px;
}

.mybox {
  display: inline-block;
  border: 1px solid #ada8d0;
  max-width: 45%;
  vertical-align: top;
  margin: 1% 2%;
}

.mybox:nth-child(odd) {
  clear: left;
}

.infobox {
  display: inline-block;
  padding: 0 15px 8px;
  border: 1px solid #ada8d0;
  float: right;
  margin-bottom: 35px;
  background-color: white;
}
.infobox:first-child {
  background-color:  #ada8d0;
}
.infobox:last-child {
  margin-bottom: 0;
}


.subtitle_icon {
  vertical-align: bottom;
  padding-right: 8px;
}

/* ******* */

.nav-links {
margin-top: 13px;
margin-bottom: 0;
}
.nav-links {
display: inline;
}
.nav-links li {
font-family: 'Comfortaa', sans-serif;
display: inline;
margin-top: 15px;
margin-right: 30px;
font-size: 40px;
}
.nav .fa {
color: white;
font-size: 48px;
}
.nav .fa:hover {
color: dodgerblue;
}

.mybox {
padding: 0 15px 35px;
background-color: white;
/*border: 2px solid #ada8d0;*/

box-shadow: 1px 1px 5px #a3d1fd;
}
.mybox:first-child {
  padding: 0;
  border: none;
  box-shadow: none;
}
.mybox h2 {
color: dodgerblue;

/*border-left: 6px solid mediumspringgreen;*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcd3e+17,00fa9a+100 */
/*-moz-border-image: -moz-linear-gradient(top,  #ffcd3e 17%, #00fa9a 100%); /* FF3.6-15 */
/*//-webkit-border-image:  -webkit-linear-gradient(top,  #ffcd3e 17%,#00fa9a 100%); /* Chrome10-25,Safari5.1-6 */
/*border-image: linear-gradient(to bottom,  #ada8d0 17%,#00fa9a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*border-image-slice: 1;*/

border-top: none;
border-right: none;
border-bottom: none;

padding-top: 6px;
margin-top: 0;
margin-bottom: 0;
}
.mybox h3 {
color: dodgerblue;
padding-left: 14px;
padding-top: 5px;
border-left: 6px solid mediumspringgreen;
font-size: 23px;
font-weight: regular;
margin-bottom: 0;
}
.mybox p {
margin: 1.5rem 0 1rem;
}

.tekniikat {
display: inline-block;
}
.tekniikat_ul {
display: inline;
}
.tekniikat_ul li {
display: inline-block;
background-color: mediumspringgreen;
padding: 1px 17px;
margin: 0 2px 6px;
font-family: 'Roboto', sans-serif;

}
footer {
margin: 1.5% 0;
text-align: center;
}
.content-links {
margin: 10px 0;
}
.content-links li{
display: table-cell;
padding-right: 14px;
vertical-align: middle;
}
.mylink {
display: inline-block;
text-decoration: none;
font-family: 'Roboto', serif;
font-weight: 400;
border: 1px solid dodgerblue;
color: dodgerblue;
padding: 5px 17px;
}
.mylink:hover {
border: 1px solid #1485a9;
color: #1485a9;
}
.prof-pic {
display: inline-block;
float: right;
margin: 0 0 15px 15px;
box-shadow: 1px 1px 12px #888888;
width: 200px;
}



/* MOBIILINÄKYMÄ */
@media screen and (max-width: 1030px){
.mybox h3 {
font-size: 23px;
}
}
@media screen and (max-width: 860px){
.mybox {
min-width: 100%;
margin: 1.5% 0;
}

@media (max-width: 550px) {
.nav h1 {
margin-top: 15px;
margin-left: 25px;
}

.prof-pic {
width: 150px;
}
}
@media (max-width: 420px) {
.nav h1 {
margin-left: 10px;
}
.nav-links {
margin-right: 15px;
}
.nav-links li {
margin-right: 15px;
}
.nav .fa {
font-size: 30px;
}
}
