* {
font-family: 'Lato', sans-serif;
}
h1 {
margin-top: 12px;
}
h1, h2 {
font-family: 'Comfortaa', sans-serif;
}
body {
background-color: white;
/*afeeee #6be2be 3edcac ff9521  ffcd3e*/
margin: 0 auto;
background-image: url("images/bg2.svg");
background-repeat: no-repeat;
background-position: top;
}
#title_nav_container {
background-color: #ffcd3e;
}
#title_nav {
max-width: 1300px;
padding-top: 15px;
margin: 0 auto;
background-color: #ffcd3e;
}
#container {
max-width: 1300px;
margin: 0 auto 1.5%;
padding-top: 2%;
}
#bgTOP {
background-color: mediumspringgreen;
border-bottom: 2px solid white;
height: 10px;
}
.nav {
margin-top: 13px;
}
.nav ul {
display: inline;
}
.nav li {
font-family: 'Comfortaa', sans-serif;
display: inline;
margin-right: 30px;
font-size: 28px;
}
.row {
margin: 1% 0;
}
.content-box {
margin-top: 0;
padding: 0 20px 13px;
background-color: white;
border-left: 2px solid #ffcd3e;
border-right: 2px solid #ffcd3e;
}
.content-box h2 {
color: dodgerblue;
padding-left: 14px;
border-left: 6px solid transparent;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcd3e+17,00fa9a+100 */
-moz-border-image: -moz-linear-gradient(top,  #ffcd3e 17%, #00fa9a 100%); /* FF3.6-15 */
-webkit-border-image:  -webkit-linear-gradient(top,  #ffcd3e 17%,#00fa9a 100%); /* Chrome10-25,Safari5.1-6 */
border-image: linear-gradient(to bottom,  #ffcd3e 17%,#00fa9a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-image-slice: 1;

padding-top: 6px;
margin-top: 0;
margin-bottom: 0;
}
.content-box h3 {
color: dodgerblue;
padding-left: 14px;
padding-top: 5px;
border-left: 6px solid mediumspringgreen;
font-size: 23px;
font-family: 'Comfortaa', sans-serif;
font-weight: regular;
margin-bottom: 0;
}
.content-box p {
margin: 1.5rem 0 1rem;
}
.content-border {
border: 2px solid #ffcd3e;
padding: 0 13px;
}

.tekniikat {
display: inline-block;
}
.tekniikat_ul {
display: inline;
}
.tekniikat_ul li {
display: inline;
background-color: mediumspringgreen;
padding: 3px 17px;
margin: 0 2px;
font-family: 'Comfortaa', sans-serif;
font-weight: bold;
}
footer {
margin-top: 1.5%;
}
.content-links {
margin: 10px 0;
}
.content-links li{
display: table-cell;
padding-right: 14px;
vertical-align: middle;
}
.mylink {
display: inline-block;
text-decoration: none;
font-family: 'Comfortaa', serif;
font-weight: bold;
border: 1px solid dodgerblue;
color: dodgerblue;
padding: 5px 17px;
}
.mylink:hover {
border: 1px solid #1485a9;
color: #1485a9;
}
